<footer class="site-footer mt-5 py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>Choosr</h5>
        <p>Seçim yapmanın en eğlenceli yolu.</p>
      </div>
      <div class="col-md-2 mb-3">
        <h6>Quiz</h6>
        <ul class="list-unstyled footer-links">
          <li><a href="#">Trend</a></li>
          <li><a href="#">En Son</a></li>
          <li><a href="#">Popüler</a></li>
          <li><a href="#">Kategoriler</a></li>
        </ul>
      </div>
      <div class="col-md-2 mb-3">
        <h6>Takip Et</h6>
        <ul class="list-unstyled footer-links">
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Youtube</a></li>
          <li><a href="#">Kick</a></li>
        </ul>
      </div>
      <div class="col-md-2 mb-3">
        <h6>Bilgi</h6>
        <ul class="list-unstyled footer-links">
          <li><a href="#">Gizlilik</a></li>
          <li><a href="#">Koşullar</a></li>
          <li><a href="#">İletişim</a></li>
        </ul>
      </div>
    </div>
    <div class="text-center small mt-3">© @DateTime.UtcNow.Year Choosr.</div>
  </div>
</footer>